.icon {
  &-x {
    fill: $blue;
  }

  &-github {
    > path {
      fill: $blue;
    }
  }

  &-youtube {
    > path:first-child {
      fill: $blue;
    }

    > path:last-child {
      fill: $white;
    }
  }
}