.chat {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2rem 2rem 2rem 3rem;
  background: rgb(48, 79, 133);
  background: linear-gradient(90deg, rgba(48, 79, 133, 1) 0%, rgba(15, 32, 68, 1) 100%);
  border-radius: 16px;
  font-family: Thunder, sans-serif;

  > .chat-title {
    position: absolute;
    bottom: 8.1rem;
    left: -5.5rem;
    display: flex;
    align-items: center;
    font-weight: 400;
    transform: rotate(-90deg);
    gap: 2rem;

    > h1 {
      color: #FFFFFF;
      text-transform: uppercase;
      font-size: 2rem;
      line-height: 2rem;
    }

    > hr {
      background: #FFFFFF;
      content: '';
      width: 150px;
      height: 2px;
    }
  }

  > .chat-messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    gap: 1rem;

    > .message {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      opacity: 0;
      transform: translateX(-50%);
      animation: slideInUp 0.5s ease-in-out forwards;

      > .message-username {
        z-index: 2;
        flex-shrink: 0;
        width: fit-content;
        padding: 0.3rem 0.6rem;
        margin: 0;
        box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
        background: #FF8D74;
        border-radius: 5px;
        color: #FFF;
        font-size: 1.5rem;
        font-weight: 600;
        transform: rotate(-1deg);
      }

      > .message-content {
        z-index: 1;
        padding: .5rem 1rem;
        margin: -.25rem 0 0 1rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
        background: #FFF;
        border-radius: 5px;
        color: #00153F;
        font-size: 1.5rem;
        line-height: 2rem;
        animation-duration: 2s;

        img {
          vertical-align: middle;
          height: 1.5rem;
        }
      }

      @keyframes slideInUp {
        0% {
          opacity: 0;
          transform: translateY(100%);
        }

        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
