---
import config from "@config/config.json";
---

<div class="container">
  <hr />

  <div
    class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-center"
  >
    <div class="text-muted mb-3">
      {config.site.copyright}
    </div>
  </div>
</div>
