<section {{ attributes }} class="community">
    <article class="community-item">
        <h2>Last subscriber</h2>
        <span>{{ this.lastSubscriber }}</span>
    </article>
    <article class="community-item">
        <h2>Last follower</h2>
        <span>{{ this.lastFollower }}</span>
    </article>
    <article class="community-item">
        <h2>Top cheers</h2>
        <span>{{ this.topCheers }}</span>
    </article>
</section>