<section {{ attributes }} data-poll="loadCurrentQuestion">
    {% if question is not null %}
        <div class="question">
            <h1 class="question-title">Question</h1>
            <span class="question-username">{{ question.username }}</span>
            <p class="question-content">{{ question.content }}</p>
        </div>
    {% endif %}
</section>