<article {{ attributes }} class="social-network">
    <span class="social-network-icon">
        {{ include('components/icons/%s.html.twig'|format(icon)) }}
    </span>
    <h2 class="social-network-title">{{ title }}</h2>
    <span class="social-network-handle">{{ handle }}</span>
</article>